<!DOCTYPE html>
<html lang="en"> 
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>LinkedIn Web Scraper - CS196 Project</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <!-- JavaScript files -->
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src="{{ url_for('static', filename='script.js') }}"></script>
    </head>
    <body>
        <h1>Welcome to the LinkedIn Web Scraper!!</h1>
        <hr>
        <h3>Please select your desired job</h3>

        <!-- Dropdown for selecting a job -->
        <label for="job-select">Choose a job:</label>
        <select id="job-select" name="jobTitle"></select>

        <!-- Canvas for the pie chart -->
        <div class="statistics">
            <canvas id="jobChart" width="400" height="400"></canvas>
        </div>

        <!-- New Search Section -->
        <div class="search-section">
            <h3>Search for a Job</h3>
            <input type="text" id="job-search" placeholder="Enter job title" />
            <button id="search-button">Search</button>

            <!-- Display skills for the searched job -->
            <h3>Skills Required:</h3>
            <ul id="skills-container">
                <!-- Skills for the searched job will be listed here -->
            </ul>
        </div>
    </body>
</html>
